/main.pdf
/main.synctex.gz
/tmp/
/Deckblatt.aux
/mai.synctex.gz
/main.aux
/main.lof
/main.log
/main.toc
/Deckblatt.aux
/mai.synctex.gz
/main.aux
/main.lof
/main.log
/main.toc
/main.pdf
/main.synctex.gz
/main.pdf
/main.pdf
